name: sandwich_shop
description: "A Flutter project for a sandwich shop."
publish_to: "none"


version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.0
  provider: ^6.1.5+1
  shared_preferences: ^2.5.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  test: ^1.21.5


flutter:
  uses-material-design: true
  assets:
    - assets/images/